<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="conn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|AppData\Data.mdb;Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="miniWhenClose" value="false"/>
    <add key="showDialogWhenClose" value="true"/>
  </appSettings>
</configuration>